html {
  --main-color: rgb(112, 204, 117);
  --card-color: rgb(43, 109, 59);
  --error-color: rgb(223, 148, 148);
  --contact-color: rgb(179, 241, 189);
}

body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  background-color: var(--main-color);
}